*{
    margin: 0;
    padding: 0;
  }
.top-menu {
    background-color: white;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 32px;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
 .top-menu-item {
    color:#16a085;
     text-decoration: none;
    margin-right: 70px;
}
 .top-menu-last-item {
     color:#16a085;
     text-decoration: none;
 }
.top-img {
    display: block;
}
.text{
    background-color: #f5f6f7;
    display: block;
}
.slogan {
     text-align:center;
     font-size: 22px;
     padding-top: 60px;
     padding-bottom: 34px;
 }
.container {
    width: 1059px;
    margin: auto;
    padding-bottom: 41px ;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
}

.p-2 {
    margin-top: 20px;
}
.start-button{
    display: flex; justify-content: center;
}
.get-started {
    background-color: #16a085;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-family: monospace;
    padding: 20px 45px;
    text-transform: uppercase;
    margin-bottom: 94px;
}
.get-started:hover {
    cursor: pointer;
}
.ownership {
    background-color: white;
    text-align: right;
    margin: 45px 105px;
}
