html {
}

.first-page {
    margin: 0 auto;
    max-width: 1366px;

    background-image: url(img/background.png);
    background-size: cover;
    box-shadow: inset 0px 0px 0 5000px rgba(0, 0, 0, 0.5);
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
    padding-top: 49px;
    padding-bottom: 20px;


}

.content-box {
    width: 1066px;
    margin: 0 auto;
    box-sizing: content-box;

}


.logo {
    display: inline-block;
    width: 44px;
    height: 46px;
    background-image: url(img/logo.png);

}

.logo:hover {
    background-image: url(img/logo2.png);
}

.logo-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

.logo-text:first-line {
    font-size: 29px;
}

.logo-text:hover {
    color: #f26522;
}

.head:hover .logo {
    background-image: url(img/logo2.png);
}

b:first-child {
    font-size: 29px;
}

.contact-info {
    align-content: end;
    color: white;
    float: right;
    margin-top: 25px;
}

.contact-info > a {
    color: white;
}

.contact-info:nth-of-type(2) {
    clear: right;
    margin-top: 0px;
}

.photo-section {
    margin-left: 152px;
    margin-top: 50px;
}

.offer {
    float: left;
    margin-right: 69px;
    margin-bottom: 58px;
}

.photo {

    width: 307px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid;
    border-image: linear-gradient(to top, black, white) 2;
    position: relative;
    overflow: hidden;

}

.price {
    display: inline-block;
    color: white;
    position: absolute;
    padding: 31px 0 17px 0;
    background-color: #f26522dd;
    width: 100%;
    bottom: -33%;
    transition: .4s;
    padding-left: 30px;
}


.offer:hover .price {
    bottom: 0px;
    bottom: 0%;
}


.main-img {
    height: 200px;
    overflow: hidden;
}

.photo-text-box {
    display: inline-block;
}


.photo-text {
    text-align: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    /* padding-bottom: 55px; */
}


.main-photo:hover .photo-text {
    color: #f26522dd;
}


.price::after {
    content: '\20AC';
    left: 20px;

}

.price::before {
    position: absolute;
    top: 20px;
    left: 20px;
    content: 'from';
    font-size: 10px;
}


.photo-link {
    text-decoration: none;
}

.price-text {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.price-details {
    position: absolute;
    bottom: 18px;
    padding-left: 125px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}


.price-details::after {
    content: '\203A';
    position: absolute;
    bottom: -3px;
    right: -28px;
    font-size: 20px;
}

.copyright {
    clear: both;
    color: white;
    text-align: center;
    font-size: 12px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;

}
