body {
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
    background-image: url(img/bcg.png);
    background-size: cover;
    background-repeat: no-repeat;

}


a:link {
    color: #3cb878;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #3cb878;
}

/*HEADER*/
.nav-bar {
    /*height: 56px;*/
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
    padding: 22px 75px 19px 81px;
}

.nav-bar > h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav-bar > h1 > a {
    color: white;
}

.nav-bar > h1 > a:hover {
    color: #3cb878;
    text-decoration: none;
    transition: all ease-in-out 1s;

}

.nav-bar-options {
    float: right;
}

.calendar {
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(img/css_sprites.png) -106px -49px;
    margin-right: 28px;
}

.calendar:hover {
    background: url(img/css_sprites.png) -106px -10px;

}

.forum {
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url(img/css_sprites.png) -58px -10px;
    margin-right: 28px;
}

.forum:hover {
    background: url(img/css_sprites.png) -10px -10px;

}

.journey {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(img/css_sprites.png) -50px -50px;
    margin-right: 50px;
}

.journey:hover {
    background: url(img/css_sprites.png) -10px -50px;

}

.nav-bar > p {
    font-size: 14px;
    display: inline-block;

}

/*Центрирование*/
.content-without-nav {
    height: calc(100vh - 56px);
    /* align-content: center; */
    /* margin-top: 56px; */

}

/*Форма*/
.registration-bar {
    width: 440px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2em;


}

.registration-bar-content {
    padding: 30px 60px;
    position: relative;
    /*align-content: center;*/
}

.registration-bar::before {
    content: '';
    background-color: #329a65;
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 29px;
}

.Log-in {
    position: absolute;
    top: 33px;
    right: 59px;
}


.registration-soc-netw {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 33px;
    line-height: 46px;

}

.a {
    display: inline-block;
    font-size: 16px;
    color: white;
    height: 46px;
    width: 114px;
    border-radius: 3px;
    background-color: #264b96;
    position: relative;
    padding-left: 20px;
    padding-right: 17px;
}

.b {
    display: inline-block;
    height: 46px;
    width: 114px;
    border-radius: 3px;
    background-color: #c3412c;
    position: relative;
    padding-left: 13px;
    padding-right: 30px;
}

.b:link, .a:link {
    color: white;
    height: 46px;
    text-decoration: none;
}

.b:visited, .a:visited {
    color: white;
}

.a:before {
    content: '';
    height: 20px;
    width: 10px;
    background: url("img/facebook.png");
    position: absolute;
    top: 13px;
    left: 20px;
}

.b:before {
    content: '';
    height: 16px;
    width: 25px;
    background: url("img/Google.png");
    position: absolute;
    top: 15px;
    left: 13px;


}

.a:after {
    content: '';
    height: 28px;
    border-right: 1px solid #224387;
    position: absolute;
    top: 9px;
    left: 47px;
}

.b:after {
    content: '';
    height: 28px;
    border-right: 1px solid #af3a28;
    position: absolute;
    top: 9px;
    left: 47px;
}

.alternate-reg-way-zone {
    text-align: center;
    margin-bottom: 18px;
    color: #c6c6c6;

}

.alternate-reg-way:before {
    content: '';
    display: block;
    width: 135px;
    position: absolute;
    border-bottom: 1px solid #eaeaea;
    top: 146px;
    right: 247px;
}

.alternate-reg-way:after {
    content: '';
    display: block;
    width: 135px;
    position: absolute;
    border-bottom: 1px solid #eaeaea;
    top: 146px;
    left: 249px;
}


.registration-form > input {
    width: 322px;
    height: 46px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding-left: 18px;
    margin-bottom: 9px;
    /*color: grey;*/
}

.registration-form > input:focus {
    outline: none;
    box-shadow: 2px 2px 8px 3px #dbdbdb;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 300px;
}

#agreement {
    margin-top: 22px;
    margin-bottom: 28px;
}

.create-account-button {
    background-color: #329a65;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    width: 324px;
    cursor: pointer;
}


.input-check label {
    position: relative;
}

.input-check label:after {
    content: '';
    position: absolute;
    left: -19px;
    top: 16%;
    width: 15px;
    height: 14px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: white;
}

.input-check input:checked + label:after {
    background: url(img/checkbox.png) no-repeat;
}


.clearfix:after {
    content: '';
    display: block;
    clear: both;
}